p {
    font-size: 50px;
}

/*class*/
.titulo {
  color: rgb(83, 43, 226);
  font-size: 50px;
}



/* ID*/ 
.parrafo {
    color: black;

}

/* ID*/
#texto {
  color:brown;
  font-size: 30px;
}

/*class*/
.main-nav {
  margin-top: 6px;
  list-style: none;
  padding-left: 0;
  background-color: bisque;
}

.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}